[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
passlib = "*"
async-exit-stack = "*"
async-generator = "*"
sqlalchemy = "*"
python-multipart = "*"
python-jose = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.8"
